@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.side-bar, header{
    -fx-background-color: #7A93AC;
}
.header-text{
    -fx-text-fill: white;
    -fx-font-family: 'Poppins', sans-serif;
}
.question-header{
    -fx-font-family: 'Poppins', sans-serif;
}
.question-answer{
    -fx-font-family: 'Cabin', sans-serif;
}